.selectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valueBox {
    width: 80px;
    height: 30px;
    border: 1px solid black;
}
.greyValueBox {
    opacity: 0.8;
    background: lightgrey;
}
.selectedBox {
    margin: 0 0 5px 0;
}
.activeBox {
    background: aquamarine;
}
.selectItems {
    border: 1px solid black;
    border-top: none;
    padding: 0 11px;

}
.selectedBox:hover {
    background: aquamarine;
}